@use "@/globals.scss" as *;

.hero {
  position: relative;
  width: 100%;
  height: 697px;

  @media screen and (max-width: 1440px) {
    height: 539px;
  }

  @media screen and (max-width: 1024px) {
    height: 854px;
  }
}

.arrow {
  position: absolute;
  top: 148.65px;
  right: 183.03px;
  opacity: 0;
  transition: opacity 1.3s ease;
  width: 128.78px;
  height: 124.22px;

  @media screen and (max-width: 1440px) {
    top: 90.65px;
    right: 130.03px;
    width: 91.59px;
    height: 88.34px;
  }

  @media screen and (max-width: 1024px) {
    top: 485.51px;
    right: 66.99px;
    width: 58.79px;
    height: 56.71px;
  }
}

.arrowShow {
  opacity: 1;
}

.dots {
  position: absolute;
  width: 173px;
  height: 399.6469421386719px;
  top: 98.65px;
  right: -53px;

  @media screen and (max-width: 1440px) {
    width: 123.31590270996094px;
    height: 284.2256164550781px;
    top: 52.65px;
    right: -38px;
  }

  @media screen and (max-width: 1024px) {
    width: 93px;
    height: 213px;
    top: 445px;
    right: -46px;
  }
}
