@use "@/globals.scss" as *;

.container {
  padding-top: 28px;
  min-height: calc(100% - 116px);
  width: 100%;
  background: $color-main;
  
  @media screen and (max-width: 1440px) {
    padding-top: 16px;
  }
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: calc(100% - $header-height - $footer-height);
  z-index: 0;
}
