$header-height: 88px;
$header-tablet-height: 74px;
$header-mobile-height: 106px;

$footer-height: 345px;
$footer-tablet-height: 245px;
$footer-mobile-height: 426px;

$color-main: #f9f9f9;
$color-secondary: #f1f1f1;
$color-white: #fcfcfd;
$color-gray: #b9b9b9;
$color-gray-white: #94a3b8;
$color-gray-dark: #999999;
$color-gray-heavy: #606060;
$color-contrast: #141416;
$color-contrast-second: #d7d7d7;
$color-contrast-white: #f2f2f2;
$color-contrast-dark: #c3c3c3;

@font-face {
  font-family: "Inter-Regular";
  src: url("/fonts/Inter/static/Inter_28pt-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/static/Inter_28pt-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/static/Inter_28pt-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/static/Inter_28pt-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Public Sans";
  src: url("/fonts/Public Sans/static/PublicSans-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Public Sans";
  src: url("/fonts/Public Sans/static/PublicSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Public Sans";
  src: url("/fonts/Public Sans/static/PublicSans-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Public Sans";
  src: url("/fonts/Public Sans/static/PublicSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("/fonts/Outfit/static/Outfit-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("/fonts/Outfit/static/Outfit-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("/fonts/Outfit/static/Outfit-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("/fonts/Outfit/static/Outfit-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

$font-inter: "Inter";
$font-poppins: "Poppins";
$font-public-sans: "Public Sans";
$font-outfit: "Outfit";
