@use "swiper/css" as *;
@use "swiper/css/keyboard" as *;

@use "@/globals.scss" as *;

html,
body,
#root {
  font-family: $font-inter, $font-poppins, sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
button,
hr,
p {
  margin: 0;
}

button {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}
