@use "@/globals.scss" as *;

$mobile-width: 244px;

.buttons {
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 22px;
  top: 403px;
  left: 97px;
  opacity: 0;
  transition: opacity 1s ease;

  @media screen and (max-width: 1440px) {
    gap: 16px;
    top: 281px;
    left: 67px;
  }

  @media screen and (max-width: 1024px) {
    gap: 17px;
    top: 306.41;
    left: calc(50% - $mobile-width / 2);
    width: $mobile-width;
  }
}

.showButtons {
  opacity: 1;
}

.buttons button {
  font-family: $font-poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 1%;
  text-transform: uppercase;
  transition: background 0.3s ease, color 0.3s ease;

  @media screen and (max-width: 1440px) {
    font-size: 11.57px;
    line-height: 100%;
  }
}

.firstButton {
  width: 180px;
  height: 60px;
  top: 531px;
  left: 97px;
  border-radius: 12px;
  padding: 18px 29px;
  color: white;
  background: black;

  @media screen and (max-width: 1440px) {
    width: 130px;
    height: 42px;
    left: 67px;
    border-radius: 8.83px;
    padding: 12.5px 22px;
  }
}

.firstButton:hover {
  color: black;
  background: $color-contrast-white;
}

.secondButton {
  width: 140px;
  height: 60px;
  top: 531px;
  left: 299px;
  border-radius: 12px;
  padding: 18px 21px;
  border: 2px solid black;
  color: black;

  @media screen and (max-width: 1440px) {
    width: 103px;
    height: 42px;
    left: 213px;
    border-radius: 8.83px;
    padding: 12.5px 16px;
  }
}

.secondButton:hover {
  background: $color-contrast-second;
}
